@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff9f6;
    font-family: 'Raleway', sans-serif;
  }

  input, select {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    outline: none;
    border-radius: 0.5rem;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

@layer components {
  .error {
    color: white;
    font-weight: bold;
    padding: 1rem;
  }
}

